.start-quiz {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn ease-in 2000ms backwards;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  }

.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    position: fixed;
    bottom: 25px;
    left: 50px;
    right: 50px;
}

.logo-box {
    width: 100vw;
    position: fixed;
    top: 25px;
    right: 0;
    left: 0;
}

.main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50vw;
}

.mission-description {
    width: 50vw;
    margin-bottom: 40px;
}

.mission-description p {
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 16px;
    color: #767676;
}

.mission-description .main-mission {
    font-family: Chakra Petch;
    font-weight: 200;
    font-size: 32px;
    color: white;
}

.play-btn {
    background: none;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    font-weight: 500;
    font-size: 20px;
    transition: 500ms;
    cursor: pointer;
}

.play-btn:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.378);
}

.onegate-quiz {
    text-align: right;
    font-weight: 100;
    font-size: 14px;
}

.onegate-quiz span {
    font-weight: 400;
}

@media screen and (max-width: 991px) {
    /* стили для больших планшетов - начало */
    
    }
    
    @media screen and (max-width: 767px) {
        .mission-description {
            width: 80vw;
        }

        .mission-description .main-mission {
            font-size: 24px;
        }

        .mission-description p {
            font-size: 16px;
        }
    
    }
    
    @media screen and (max-width: 479px) {
        .mission-description {
            width: 80vw;
        }

        .mission-description .main-mission {
            font-size: 24px;
        }

        .mission-description p {
            font-size: 12px;
        }
        
    
    }
    